.calc {
    display: flex;
    margin: auto;
    height: 300px;
    width: 200px;
    flex-direction: column;
    background: rgb(29, 27, 27);
    border: rgb(211, 96, 14) solid 0.1em;
    border-radius: 5%;
    box-shadow: 0px 0.5em 1em #040404;
    justify-content: center;
    padding: 2%;
}

@media screen and (min-width: 800px) and (min-height:800px) and (max-width:1200px) {
    .calc{
        height: 700px;
        width: 600px;
    }
}

@media screen and (min-width: 1200px){
    .calc{
        height: 500px;
        width: 400px;
    }
}

